<div class="side__title dropdown">
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#demo"> Try it
        out </button>
    <div id="demo" class="collapse custom-collapse">
        <form [formGroup]="reqForm">
            <div class="form-group">
                <label for="sel1">Server</label>
                <input type="text" class="form-control" value={{apiURL}} id="server" disabled>
            </div>
            <div class="form-group">
                <label for="sel2">Method</label>
                <input type="text" value={{method}} class="form-control" id="method" disabled>
            </div>
            <div *ngIf="endpoint != 'fetchbyid'" class="form-group">
                <label for="sel2">Endpoint</label>
                <input type="text" value={{endpoint}} class="form-control" id="end" disabled>
            </div>
            <div *ngIf="endpoint == 'fetchbyid'" class="form-group">
                <label for="sel2">Endpoint</label>
                <input type="text" value={{endpoint}} class="form-control" id="end" editable>
            </div>
            <div *ngIf="endpoint != 'generateAuthenticationToken'" class="form-group">
                <label>Access Token <span> *New token required? <a routerLink="/generatetoken">click here</a></span></label>
                <input type="text" value={{savedToken}} class="form-control" id="end" disabled>
            </div>
            <div *ngIf="method != 'GET'" class="form-group">
                <label>Request</label>
                <textarea formControlName="jsonRequest" class="form-control" rows="5" id="comment"></textarea>
            </div>
            <button class="btn btn-success" type="submit" (click)="getInfo()"> Send </button>
        </form>
    </div>
    <div *ngIf="response != undefined" id="resp" class="mt-1">
        <label for="sel1">Response</label>
        <pre class=" overflow-y ht-100-mm"> {{ response | json }} </pre>
    </div>
</div>