<div class="welcomer">
    <div class="wrap">
        <div class="welcomer__tit">Elasticsearch Wrapper Documentation</div>
        <div class="welcomer__text">
            Everything you need to know to use elasticsearch wrapper with your application.
            <br>"You Know, for Search"
        </div>
    </div>
</div>
<div class="categories">
    <div class="wrap">
        <div class="categories__list">
            <a routerLink="/info" class="categories__item categories__item_getting_started">
                <span class="categories__inner">
                    <span class="categories__icon"><i class="fa fa-info-circle"></i></span>
                    <span class="categories__name">Info API</span>
                    <span class="categories__desc">Get the details about the elasticsearch service you're
                        using</span>
                </span>
            </a>
            <a routerLink="/generatetoken" class="categories__item categories__item_components">
                <span class="categories__inner">
                    <span class="categories__icon"><i class="fa fa-id-card-o"></i></span>
                    <span class="categories__name">Generate Token API</span>
                    <span class="categories__desc">Get the JWT token generated in seconds using this
                        API</span>
                </span>
            </a>
            <a routerLink="/revoketoken" class="categories__item categories__item_references">
                <span class="categories__inner">
                    <span class="categories__icon"><i class="fa fa-times"></i></span>
                    <span class="categories__name">Revoke Token API</span>
                    <span class="categories__desc">Get the JWT token generated in seconds using this
                        API</span>
                </span>
            </a>
            <a routerLink="/updatemappings" class="categories__item categories__item_guides">
                <span class="categories__inner">
                    <span class="categories__icon"><i class="fa fa-object-group"></i></span>
                    <span class="categories__name">Update Mappings API</span>
                    <span class="categories__desc">Guide to understand process of defining how a document,
                        and the fields it contains, are stored and indexed</span>
                </span>
            </a>
            <a routerLink="/search" class="categories__item categories__item_getting_started">
                <span class="categories__inner">
                    <span class="categories__icon"><i class="fa fa-search"></i></span>
                    <span class="categories__name">Search API</span>
                    <span class="categories__desc">Query elasticsearch for particular search with particular
                        search specifications</span>
                </span>
            </a>
            <a routerLink="/msearch" class="categories__item categories__item_components">
                <span class="categories__inner">
                    <span class="categories__icon"><i class="fa fa-ravelry"></i></span>
                    <span class="categories__name">MSearch API</span>
                    <span class="categories__desc">Query elasticsearch to perform multiple searches on the
                        same or the different indexes</span>
                </span>
            </a>

            <a routerLink="/fetchbyid" class="categories__item categories__item_references">
                <span class="categories__inner">
                    <span class="categories__icon"><i class="fa fa-mercury"></i></span>
                    <span class="categories__name">Fetch API</span>
                    <span class="categories__desc">Fetch the specific document by providing document id as
                        parameter </span>
                </span>
            </a>
            <a routerLink="/autocomplete" class="categories__item categories__item_guides">
                <span class="categories__inner">
                    <span class="categories__icon"><i class="fa fa-audio-description"></i></span>
                    <span class="categories__name">Autocomplete API</span>
                    <span class="categories__desc">Fetch the most relevant Autocomplete suggestions for your
                        search</span>
                </span>
            </a>
            <a routerLink="/recentsearch" class="categories__item categories__item_getting_started">
                <span class="categories__inner">
                    <span class="categories__icon"><i class="fa fa-history"></i></span>
                    <span class="categories__name">Recent Search API</span>
                    <span class="categories__desc">Fetch the most relevant Autocomplete suggestions for your
                        search</span>
                </span>
            </a>
            <a routerLink="/topsearch" class="categories__item categories__item_components">
                <span class="categories__inner">
                    <span class="categories__icon"><i class="fa fa-thumbs-o-up"></i></span>
                    <span class="categories__name">Top Search API</span>
                    <span class="categories__desc">Fetch the most relevant Autocomplete suggestions for your
                        search</span>
                </span>
            </a>
            <a routerLink="/home" class="categories__item categories__item_references">
                <span class="categories__inner">
                    <span class="categories__icon"><i class="fa fa-book"></i></span>
                    <span class="categories__name">References</span>
                    <span class="categories__desc">Component structure references, classes and JSON
                        Schema</span>
                </span>
            </a>
            <a routerLink="/home" class="categories__item categories__item_guides">
                <span class="categories__inner">
                    <span class="categories__icon"><i class="fa fa-book"></i></span>
                    <span class="categories__name">References</span>
                    <span class="categories__desc">Component structure references, classes and JSON
                        Schema</span>
                </span>
            </a>
        </div>
    </div>
</div>
<hr>
<!--<div class="link-box">
<div class="wrap">
    <div class="link-box__list">
        <ul class="link-box__column">
            <li class="link-box__item">
                <div class="link-box__tit">Recently Added Pages
                    <div class="counter">5</div>
                </div>
                <div class="link-box__holder">
                    <a class="link-box__link" href="getting-started/first-flow.html">Creating a Basic
                        Integration Flow</a>
                    <a class="link-box__link" href="guides/managing-workspaces.html">Managing
                        Workspaces</a>
                    <a class="link-box__link" href="guides/managing-contracts.html">Managing
                        Contracts</a>
                    <a class="link-box__link" href="guides/managing-oauth-clients.html">Managing OAuth
                        Clients</a>
                    <a class="link-box__link"
                        href="getting-started/contracts-and-workspaces.html">Contracts and
                        Workspaces</a>
                </div>
            </li>
        </ul>
        <ul class="link-box__column">
            <li class="link-box__item">
                <div class="link-box__tit">Recent Releases
                    <div class="counter">
                        5
                    </div>
                </div>
                <div class="link-box__holder">
                    <a class="link-box__link" href="releases/v3.17.0.html">v3.17.0</a>
                    <a class="link-box__link" href="releases/v3.16.0.html">v3.16.0</a>
                    <a class="link-box__link" href="releases/v3.15.0.html">v3.15.0</a>
                    <a class="link-box__link" href="releases/v3.14.0.html">v3.14.0</a>
                    <a class="link-box__link" href="releases/3.13.0.html">v3.13.0</a>
                </div>
            </li>
        </ul>
        <ul class="link-box__column">
            <li class="link-box__item">
                <div class="link-box__tit">REST API
                    <div class="counter">2</div>
                </div>
                <div class="link-box__holder">
                    <a class="link-box__link" href="https://api.elastic.io/docs/v2/">
                        <span class="label success">Stable</span> REST API v2<i
                            class="fa fa-external-link"></i>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>
</div>-->
<div class="question">
    <div class="question__tit">Didn’t find what you were looking for?</div>
    <div class="buttons">
        <a href="mailto:skashyap@oceaneering.com" class="button">Contact Support</a>
    </div>
</div>
<div class="footer__spacer"></div>